/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   
    line-height: 1.5; /* Improve readability */
    scroll-behavior: smooth; /* Smooth scrolling */
}

body {
   
    font-family: 'Poppins', sans-serif;
    color: #333; /* Default text color */
    background-color: var(--color-bg); /* Light background */
    --color-bg: #0d0d0d;           /* Negro profundo */
    --color-surface: #1a1a1a;      /* Gris oscuro */
    --color-primary: #00ff88;      /* Verde neón principal */
    --color-primary-dark: #009f5e; /* Verde más oscuro, elegante */
    --color-alternative: #bd3af9; /* Verde más oscuro, elegante */
    --color-text: #e6e6e6;         /* Texto claro */
    --color-muted: #999999;        /* Texto secundario */
}

/*header section -----------------------------*/
.header{
display: flex;
flex-direction: row;
background-color: var(--color-surface);
padding: 10px;
position: fixed;
width: 100%;
top: 0;
}
.header__nav{
display:flex;
flex-direction:row;
width: 100%;
}
.menu-btn{
    background-color: transparent;
    border: none;
    padding-top: 3px;
    padding-right: 5px;
    width:40px;
    color: var(--color-text);
    cursor: pointer;
    display: none;
}

.header__logo{
    color: var(--color-primary);
    width:fit-content;
}
h1 span{
    color: var(--color-alternative);
}
.nav__ul{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: right;
    margin-right: 50px;
    align-items: center;
    flex-grow: 1;
    transition: transform 0.3s ease-in-out;
}

.nav__link{
    color: var(--color-text);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.1rem;
    border-bottom: 2px solid var(--color-alternative);
    transition: border-bottom 0.1s ease-in-out;
}
.nav__ul li:nth-child(2) .nav__link,
.nav__ul li:nth-child(4) .nav__link {
  border-color:var(--color-primary);
}
.nav__link:hover{
    border-bottom-width: 4px;
}



/*HOME SECTION ---------------------------------------------------------------*/
.home{
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
}
.home__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    background-color: var(--color-bg);
    height: 90dvh;
    color: var(--color-text);
}
.home__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     min-width: 50%;
     padding: 20px;
     padding-bottom: 50px;
}
.home__img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--color-alternative);
    box-shadow: 0 0 10px rgba(162, 3, 186, 0.5);
    margin-bottom: 20px;
}
.home__title{
    text-align: center;
}
.home__title--name{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-alternative);
    text-align: center;
    margin-bottom: 10px;
}
.home__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 10px;
}
.home__description--text span{
    color: var(--color-primary);
    font-weight: 700;
}
.home__description-links{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row no-wrap;
    gap: 20px;
    margin-top: 20px;
}
.home__description-links .link-box{
    width: 32%;
    position: relative;
    background-color: var(--color-text);
}
.home__description-links a{
    position: relative;
    bottom:5px;
    right: 5px;
    display: inline-block;
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: var(--color-surface);
    font-size: 1.1rem;
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--color-primary);
    transition: all 0.15s ease-out ;
}
.home__description-links a:hover{
    background-color: var(--color-alternative);
    bottom: 0px;
    right: 0px;
    color: var(--color-text);
}

/*Skills section  -----------------------------------*/

.skills{
    width: 100%;
    position: relative;
}
.skills__title{
    text-align: center;
    color: var(--color-primary);
}
.skills__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
   color: var(--color-primary); 
}
.skills__container-slider{
position: relative;
}
.skills__indicators{
    width: 100%;
    max-width: 1200px;
    padding-right: 30px;
    display: flex;
    justify-content: right;
}
.skills__indicators button{ /*no olvidar espesifidad*/
    width: 20px;
    height: 10px;
    border: none;
    margin: 0 5px;
    transition: all 0.2s ease;
}
.skills__indicators button:hover,.activo{
    background-color: var(--color-primary);
    cursor: pointer;
}

.skills__main{
    width: 100%;
    position: relative;
    padding: 10px 40px 10px 40px;
    overflow: hidden;
    display: flex;
   gap: 5px;
   
}

/*estilo para los botones de desplazamiento*/
.skills__btn-next,.skills__btn-prev{
    position: absolute;
    width: 40px;
    z-index: 10;
    top: 0;
    height: 100%;
    background-color:#383535;
    border: none;
   transition: all 0.2s ease;
   border-radius: 10px;
    
}

.skills__btn-next img,.skills__btn-prev img{
    width: 70%;
    filter: drop-shadow(0 0 5px var(--color-primary));
    transition: all 0.2s ease;
}
.skills__btn-next{
    right: 0px;
}
.skills__btn-prev{
    left: 0;
}
.skills__btn-prev img{
 transform: rotate(180deg);
}
.skills__btn-next:hover img,.skills__btn-prev:hover img {
    filter: drop-shadow(0 0 6px var(--color-alternative));
}
 /*fin de estilo y posicionamiento de los botones*/   

.skills__container-card {
  padding: 3px;
  width: 24.5%;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; /* Añadido para una transición suave */
}

.skills__container-card::before,
.skills__container-card::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  z-index: -1;
  transition: background-color 0.3s ease, animation-duration 0.3s ease; /* Transición para color de fondo y duración */
}

.skills__container-card::before {
  background-image: conic-gradient(
    from 0deg,
    var(--color-alternative) 0deg,
    rgba(189, 58, 249, 0.6) 30deg,
    transparent 90deg
  );
  animation-name: rotar;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skills__container-card::after {
  background-image: conic-gradient(
    from 180deg,
    var(--color-primary) 0deg,
    transparent 90deg
  );
  animation-name: rotar;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-surface);
  width: 100%;
  height: 100%;
  padding: 10px;
  color: var(--color-text);
  text-align: center;
  font-size: 1rem;
}

.skills__card img {
  width: 50%;
  object-fit: cover;
  object-position: top;
  
}
.skills__card--text{
    font-size: 1rem;
    display: inline-block;
    margin-top: 10px;
}

/* Cuando hover sobre el contenedor, se escala */
.skills__container-card:hover {
  transform: scale(1.05);
}

/* Cambiar color de fondo y ajustar la duración de la animación */
.skills__container-card:hover::before,
.skills__container-card:hover::after {
  animation-duration: 1s; /* Cambio en la duración de la animación */
}

/*MEDIA SECTION -------------------------------------*/
@media (max-width: 768px) {
    .home__container{
        flex-direction: column;
        justify-content: center;
    }
    .home__profile{
        width: 100%;
        padding: 20px;
    }
    .home__img{
        width: 200px;
        height: 200px;
    }
    .home__description{
        width: 100%;
        padding: 10px;
    }
    .home__description--text{
        max-width: 600px;
        font-size: 1.3rem;
        text-align: center;
    }
    .home__description-links {
       flex-direction: column;
       justify-content: center;
       align-items: center; 
    }
    .link-box{
        width: 30%;
    }
    .home__description-links a{
        width: 100%;
        font-size: 1.1rem;
        padding: 10px 0;
    }


}
/*menu*/
@media (max-width: 768px){
 .menu-btn{
    display: block;
    
 }
 .nav__ul{
    flex-direction: column;
    position:fixed;
    top: 58px;
    left: 0%;
    width: 200px;
    height: 300px;
    gap: 30px;
    padding: 30px;
    background-color: var(--color-surface);
    transform: translateX(-100%);
    border-bottom-right-radius:10px ;
 }
 .nav-animation{
    transform: translateX(0);
}
}
/*SLIDER ---*/
@media (max-width: 800px){
    .skills__main{
        flex-flow: row wrap;
        justify-content: center;
    }
    .skills__container-card{
        width: 45%;
    }
    .skills__indicators{
        display: none;
    }
    .skills__btn-next,.skills__btn-prev{
        display: none;
    }
   
}
/*animations*/
@keyframes rotar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}


