/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   
    line-height: 1.5; /* Improve readability */
    scroll-behavior: smooth; /* Smooth scrolling */
}

body {
   
    font-family: 'Poppins', sans-serif;
    color: #333; /* Default text color */
    background-color: #f9f9f9; /* Light background */
    --color-bg: #0d0d0d;           /* Negro profundo */
    --color-surface: #1a1a1a;      /* Gris oscuro */
    --color-primary: #00ff88;      /* Verde neón principal */
    --color-primary-dark: #009f5e; /* Verde más oscuro, elegante */
    --color-text: #e6e6e6;         /* Texto claro */
    --color-muted: #999999;        /* Texto secundario */
}
.header{
display: flex;
flex-direction: row;
background-color: var(--color-bg);
padding: 10px;
}
.header__nav{
display:flex;
flex-direction:row;
}
.header__logo{
    color: var(--color-primary);
}
.nav__ul{
    list-style: none;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}
.nav__link{
    color: var(--color-text);
}